.gradle
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/navEditor.xml
.DS_Store
build
/captures
local.properties
gradle.xml
gradle.properties
shade
*.bak
*.iml
