<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rover">

    <!-- Permissions -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/-->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- Services -->

        <service android:name=".Rover$LocationUpdateService" android:exported="false"/>

        <service android:name=".Rover$GcmRegistrationService" android:exported="false"/>

        <service android:name=".Rover$RoverInstanceIDListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service android:name=".Rover$RoverGcmListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- Receivers -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
