<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rover">

    <!-- Permissions -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/ -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--<permission-->
        <!--android:name="${applicationId}.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->

    <!--<uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />-->

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- Services -->

        <service
            android:name=".Rover$NearbyMessageService"
            android:exported="false" />
        <service
            android:name=".Rover$LocationUpdateService"
            android:exported="false" />
        <service
            android:name=".Rover$GeofenceTransitionService"
            android:exported="false" />

        <service
            android:name=".MessageInteractionService"
            android:exported="false" />

        <service
            android:name=".Rover$RoverFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".Rover$RoverFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <activity android:name=".ExperienceActivity"/>
        <activity android:name=".RemoteScreenActivity"/>
    </application>

</manifest>