<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rover">

    <!-- Permissions -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/ -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- Intent Receivers for location information -->
        <receiver
            android:name=".Rover$NearbyMessageReceiver" />
        <receiver
            android:name=".Rover$LocationUpdateReceiver" />
        <receiver
            android:name=".Rover$GeofenceTransitionReceiver" />

        <!-- All Rover notifications launch this service when tapped, which then in turn launches the appropriate component. -->
        <service
            android:name=".MessageInteractionService"
            android:exported="false" />

        <!-- Services that receive the Firebase registration information -->
        <service
            android:name=".Rover$RoverFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Rover$RoverFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <activity android:name=".ExperienceActivity"/>
        <activity android:name=".RemoteScreenActivity"/>
    </application>

</manifest>