<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- (Optionally) Used by the location module, enabling Geofence and Beacon support -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:name="io.rover.sdk.example.ExampleApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roverandroid">
        <activity
            android:name="io.rover.sdk.example.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Roverandroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase Receivers -->
        <service
            android:name="io.rover.sdk.example.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!-- Rover Links -->
        <activity android:name="io.rover.sdk.core.routing.TransientLinkLaunchActivity" android:exported="true">
            <!-- for deep links to open the Rover SDK settings -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/rover_uri_scheme" />
                <data android:host="presentSettings"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>

            <!-- for deep links to open the Rover SDK notification center-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/rover_uri_scheme" />
                <data android:host="presentNotificationCenter"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>


            <!-- for deep links to open experiences -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/rover_uri_scheme" />
            </intent-filter>

            <!-- for http universal links/app links to open experiences  -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" android:host="@string/rover_associated_domain" />
            </intent-filter>

            <!-- for https universal links/app links to open experiences -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" android:host="@string/rover_associated_domain" />
            </intent-filter>
        </activity>

        <!-- Registering RoverActivity from the Rover SDK in order to display experiences -->
        <activity
            android:name="io.rover.sdk.experiences.ui.containers.RoverActivity"
            android:theme="@style/Theme.Roverandroid.NoActionBar" />
    </application>

</manifest>