<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="TransientNotificationLaunchActivity" />
        <activity android:name=".ui.containers.NotificationCenterActivity" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
