<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rover.experiences">
    <application>
        <!-- You should replace this entry for the Experience Activity in your own manifest in order
        to set your theme and an optional parent activity for use when Experiences are launched
        directly from push notifications.  See the documentation. -->
        <activity
            android:name="io.rover.experiences.ui.containers.StandaloneExperienceHostActivity"
        />

        <activity android:name=".ui.TransientLinkLaunchActivity">
            <intent-filter android:name="Test Open Experience">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rv-experiences" />
            </intent-filter>
        </activity>
    </application>
</manifest>
